<%- model_class = Sector -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render "sectors_table", sectors: @sectors %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sector_path,
            :class => 'btn btn-primary' %>
