<h1>Sobre</h1>
<p>Desenvolvido pelos alunos de Engenharia de Software da UFRN Igor Marques e Lucas Bibiano, o sistema, que surgiu de um projeto de disciplina, se mostrou com potencial suficiente para ser um produto real. Atualmente em desenvolvimento com várias funcionalidades ainda em desenvolvimento.</p>
