<h1>OpenRes</h1>
<h2>Gerenciar recursos nunca foi tão fácil.</h2>
<p>Com o <strong>OpenRes</strong>, sua instituição terá um controle fácil de reservas de recursos. Uma reserva de sala, por exemplo, poderá ser feita em segundos e você terá um controle de todas as reservas feitas ou recursos presentes via uma série de relatórios que podem ser emitidos pelo sistema.</p>
