<%- model_class = RoomType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render "room_types_table", room_types: @room_types %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_room_type_path,
            :class => 'btn btn-primary' %>
