<%- model_class = ObjectResource -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render "object_resources_table", object_resources: @object_resources %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_object_resource_path,
            :class => 'btn btn-primary' %>
