<%- model_class = Reservation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render "reservations_table", reservations: @reservations %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_reservation_path,
            :class => 'btn btn-primary' %>
